

  <div class="row">
    <% if @products %>
      <% @products.each do |product| %>
        <div class="col-6 col-md-4" >
          <b-card
            tag="a"
            href="<%= product.path %>"
            class="mb-2 border-0"
            style="max-width: 20rem;"
            title=""
            img-src="<%= product.image %>"
            img-alt="Image"
            img-top
          >
            <b-card-text>
              <%= product.name %>
            </b-card-text>
          </b-card>
        </div>
      <% end %>
    <% end %>
  </div>


<br>
 <%= link_to 'オーダーされた商品を見る', orders_path, method: :get %>
 <br>
 <%= link_to '完了済みオーダーを見る', done_orders_path, method: :get %>
<br> 
 <%= link_to 'データベースに商品を追加する', new_product_path, method: :get %>
<br>
