    <p><input type="text" name="name" value="<%= product.name if product %>" placeholder="商品名"></p>
    <p><input type="text" name="description" value="<%= product.description if product %>" placeholder="商品説明"></p>
    <p><input type="text" name="price" value="<%= product.price if product %>" placeholder="値段"></p>
    <p><input type="text" name="image" value="<%= product.image if product %>" placeholder="画像URL"></p>
    <p><input type="text" name="url" value="<%= product.path if product %>" placeholder="サイトpath"></p>
    
