<!DOCTYPE html>
<html>
  <head>
    <title>Ec</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <page id='vuescope'>
    <header>
      <b-navbar toggleable="md" type="light" variant="light" class="justy-content-between">
        <b-button v-b-toggle.sidebar-1>メニュー</b-button>
        <b-sidebar id="sidebar-1" title="メニュー" shadow>
          <div class="px-3 py-2">
       
          </div>
        </b-sidebar>
        
        <h3><%= link_to 'AB-MODEL', root_path, method: :get, class:'navlink' %></h3>
        <h3><%= link_to 'カート', carts_path, method: :get, class:'navlink' %></h3>
      </b-navbar>
    </header>
    
      <%= yield %>

      <%= javascript_pack_tag 'ec_vue' %>
      
    <footer>
      
    </footer>
    
  </page>
  </body>
</html>
